@keyframes animation {
    from{transform: translateX(-1500px);}
    to{transform: translateX(0px);}
}
#body {
    background-color: #04AF8B;
}
.text {
    text-align: center;
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 105px;
    animation: animation 3s ease-in-out 0s 1
}
#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    animation: animation 3s ease-in-out 0s 1;
}
.text1 {
    text-align: center;
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 60px;
    animation: animation 3s ease-in-out 0s 1;
    font-style: italic;
    letter-spacing: 1px;
    word-spacing: 1px;
}
.links {
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    font-size: 90px;
    border: 35px solid;
    border-color: #ffffff;
    background-color: #04AF8B;
    color: #000000;
    animation: animation 3s ease-in-out 0s 1;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
    margin-top: 25px;
}
.links:hover {
    border-color: #000000;
    background-color: #04AF8B;
    color: #ffffff;
}
#div {
    text-align: center;
}
#langs {
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    font-size: 90px;
    border: 35px solid;
    border-color: #ffffff;
    background-color: #04AF8B;
    color: #000000;
    animation: animation 3s ease-in-out 0s 1;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
    margin-top: 25px;
}
#langs:hover {
    border-color: #000000;
    background-color: #04AF8B;
    color: #ffffff;
}
#langdiv {
    text-align: center;
}
#shortners {
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    font-size: 90px;
    border: 35px solid;
    border-color: #ffffff;
    background-color: #04AF8B;
    color: #000000;
    animation: animation 3s ease-in-out 0s 1;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
    margin-top: 25px;
}
#shortners:hover {
    border-color: #000000;
    background-color: #04AF8B;
    color: #ffffff;
}
#shortdiv {
    text-align: center;
}
#commands {
    text-align: center;
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 105px;
    animation: animation 3s ease-in-out 0s 1;
    font-style: italic;
}
#footer {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: #ffffff;
    animation: animation 3s ease-in-out 0s 1;
    font-size: 85px;
}
#footerbtn {
    cursor: pointer;
    border: none;
    font-family: 'Courier New', Courier, monospace;
    color: #ffffff;
    background-color: #04AF8B;
    animation: animation 3s ease-in-out 0s 1;
    font-size: 80px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
    margin-top: -195px;
}
#footerbtn:hover {
    text-decoration: underline;
}
#footerbtndiv {
    text-align: center;
}
::selection {
    background-color: #00ffc8;
    color: #00503a;
}
::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-thumb {
    background-color: #00ffc8;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #00503a;
}
@media only screen and (max-width: 1360px) {
    .links {
        font-size: 70px;
        border: 25px solid;
        border-color: #ffffff;
        background-color: #04AF8B;
        color: #000000;
    }
    #langs {
        font-size: 70px;
        border: 25px solid;
        border-color: #ffffff;
        background-color: #04AF8B;
        color: #000000;
    }
    #shortners {
        font-size: 70px;
        border: 25px solid;
        border-color: #ffffff;
        background-color: #04AF8B;
        color: #000000;
    }
}
@media only screen and (max-width: 1230px) {
    #commands {
        font-size: 95px;
    }
}
@media only screen and (max-width: 1115px) {
    #commands {
        font-size: 90px;
    }
}
@media only screen and (max-width: 1080px) {
    .text {
        font-size: 85px;
    }
    .links {
        font-size: 65px;
        border: 20px solid;
        border-color: #ffffff;
        background-color: #04AF8B;
        color: #000000;
    }
    #langs {
        font-size: 65px;
        border: 20px solid;
        border-color: #ffffff;
        background-color: #04AF8B;
        color: #000000;
    }
    #shortners {
        font-size: 65px;
        border: 20px solid;
        border-color: #ffffff;
        background-color: #04AF8B;
        color: #000000;
    }
    .text1 {
        font-size: 45px;
    }
    #commands {
        font-size: 75px;
    }
    #footer {
        font-size: 55px;
    }
    #footerbtn {
        font-size: 50px;
        margin-top: -125px;
    }
}
@media only screen and (max-width: 980px) {
    .links {
        font-size: 55px;
        border: 20px solid;
        border-color: #ffffff;
        background-color: #04AF8B;
        color: #000000;
    }
    #langs {
        font-size: 55px;
        border: 20px solid;
        border-color: #ffffff;
        background-color: #04AF8B;
        color: #000000;
    }
    #shortners {
        font-size: 55px;
        border: 20px solid;
        border-color: #ffffff;
        background-color: #04AF8B;
        color: #000000;
    }
}
@media only screen and (max-width: 890px) {
    #commands {
        font-size: 65px;

    }
}
@media only screen and (max-width: 860px) {
    .links {
        font-size: 45px;
        border: 10px solid;
        border-color: #ffffff;
        background-color: #04AF8B;
        color: #000000;
    }
    #langs {
        font-size: 45px;
        border: 10px solid;
        border-color: #ffffff;
        background-color: #04AF8B;
        color: #000000;
    }
    #shortners {
        font-size: 45px;
        border: 10px solid;
        border-color: #ffffff;
        background-color: #04AF8B;
        color: #000000;
    }
}
@media only screen and (max-width: 775px) {
    #commands {
        font-size: 55px;
    }
}
@media only screen and (max-width: 740px) {
    .links {
        font-size: 35px;
        border: 5px solid;
        border-color: #ffffff;
        background-color: #04AF8B;
        color: #000000;
    }
    #langs {
        font-size: 35px;
        border: 5px solid;
        border-color: #ffffff;
        background-color: #04AF8B;
        color: #000000;
    }
    #shortners {
        font-size: 35px;
        border: 5px solid;
        border-color: #ffffff;
        background-color: #04AF8B;
        color: #000000;
    } 
}
@media only screen and (max-width: 660px) {
    #commands {
        font-size: 45px;
    }
}